<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 d-none d-lg-block d-xl-block">
     <app-menu></app-menu>
    </div>
    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-9">
                  <h3>Administración de recursos de contratos a tu mano</h3>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Tipos de documentos</h4>
                  <p class="text-center">Parametros registrados {{ documentos?.count }}</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Gestionar parametros
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1 ">
                <mat-card>
                  <h4 class="text-center">Paises</h4>
                  <p class="text-center">Parametros registrados {{ pais?.count }}</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Gestionar parametros
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1 ">
                <mat-card>
                  <h4 class="text-center">Ciudades</h4>
                  <p class="text-center">Parametros registrados {{ ciudad?.count }}</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Gestionar parametros
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1 ">
                <mat-card>
                  <h4 class="text-center">Departamentos</h4>
                  <p class="text-center">Parametros registrados {{ departamentos?.count }}</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Gestionar parametros
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1 ">
                <mat-card>
                  <h4 class="text-center">Tipologia de empresas</h4>
                  <p class="text-center">Parametros registrados {{ tipologia?.count }}</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Gestionar parametros
                  </button>
                </mat-card>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
