<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 d-none d-lg-block d-xl-block ">
      <app-menu></app-menu>
    </div>
    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-9">
                  <h3>Lista de contratos a tu mano</h3>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="container mt-4">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <a routerLink="/contratos/1019042184">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Firmar contrato
                    </button>
                  </a>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
                <mat-card>
                  <h4 class="text-center">GET Global Enterprise Technologies</h4>
                  <p class="text-center">Contrato a termino indefinido</p>
                  <button mat-stroked-button color="primary" class="d-block mx-auto">
                    Firmar contrato
                  </button>
                </mat-card>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
