<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 d-none d-lg-block d-xl-block">
      <app-menu></app-menu>
    </div> -->
    <div class="col-lg-10 offset-lg-1">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <mat-card class="mt-3">
              <div class="row">
                <!-- <div class="col-sm-3">
                  <img
                    src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-9/68877080_10157903604376178_5669071108020633600_n.jpg?_nc_cat=102&_nc_oc=AQl_geOHsnmld5hWIlJ3NJAm5M8Mfi04vb_PhxvoullJ9ugiFbnSsW5cie5rn1x6LHE&_nc_ht=scontent.fbog2-1.fna&oh=f61a54f915296737d586b15da5e43164&oe=5DF47ED1"
                    alt="Imagen perfil" class="rounded-circle w-50 mt-4 d-block mx-auto">
                </div> -->
                <div class="col-sm-9">
                  <h3>{{ infoUserLoged?.Nombre }} {{ infoUserLoged?.Apellido }}</h3>
                  <p>{{ profesion?.Profesion }}</p>
                  <!-- <p>Edad: 29</p> -->
                  <p>De: Colombia</p>
                  <p>Ultimo contrato: GET Global Enterprise Tecnologies</p>
                  <hr>
                </div>
              </div>
            </mat-card>

            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Generar contrato</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quas dolor rem veniam consequuntur voluptatum corrupti facilis quis voluptates cumque corporis vero sequi nemo reprehenderit sint eligendi, architecto pariatur. Minus?</p>
                  <a routerLink="/generadorcontrato">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Generar contrato
                    </button>
                  </a>
                </div>
              </div>
            </mat-card>

          </div>
          <div class="container mt-4">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Contratos actuales</h4>
                  <p class="text-center">{{ misContratos }}</p>
                  <a routerLink="/listacontratos/1">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Contratos pendientes</h4>
                  <p class="text-center">{{ pendientesCounter }}</p>
                  <a routerLink="/listacontratos/2">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 ">
                <mat-card>
                  <h4 class="text-center">Contratos finalizados</h4>
                  <p class="text-center">{{ finalizadoCounter }}</p>
                  <a routerLink="/listacontratos/3">
                    <button mat-stroked-button color="primary" class="d-block mx-auto">
                      Mis contratos
                    </button>
                  </a>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
