<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" *ngIf="type">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-2">
                  <h2>Tipo de perfil</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de perfil que desea crear</mat-label>
                    <mat-select>
                      <mat-option value="1" (focus)="registerPerson(1)">
                        Perfil Contratado
                      </mat-option>
                      <mat-option value="2" (focus)="registerPerson(2)">
                        Perfil Contratante
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-sm-12" *ngIf="natural">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Persona Natural</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="persona">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombres" formControlName="Nombre">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" formControlName="Apellido">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Dirección" formControlName="Direccion">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Firma" formControlName="FirmaContratoPersona">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Profesión</mat-label>
                      <mat-select formControlName="Profesion_idProfesion">
                        <mat-option *ngFor="let profesion of profeciones" [value]="profesion?.idProfesion">
                          {{ profesion?.Profesion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Pais</mat-label>
                      <mat-select formControlName="Pais_idPais">
                        <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                          {{ p?.Pais }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="Departamento_idDepartamento">
                        <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                          {{ d?.Departamento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Ciudad</mat-label>
                      <mat-select formControlName="Ciudad_idCiudad">
                        <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                          {{ city?.Ciudad }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>


          <div class="col-sm-12" *ngIf="juridica">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Persona Juridica</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form class="example-form" novalidate (ngSubmit)="onSubmitJuridica()" [formGroup]="empresas">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="NIT de la empresa" formControlName="nitEmpresa" type="number">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre de la empresa" formControlName="Nombre">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de empleados" type="number"
                        formControlName="numeroEmpleados">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Dirección" formControlName="Direccion">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pagina web" formControlName="Pagina">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Sector</mat-label>
                      <mat-select formControlName="Sector_idSector">
                        <mat-option *ngFor="let sector of sectores" [value]="sector?.idSector">
                          {{ sector?.Sector }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Tipologia</mat-label>
                      <mat-select formControlName="Tipologia_idTipologia">
                        <mat-option *ngFor="let tipologia of tipologias" [value]="tipologia?.idTipologia">
                          {{ tipologia?.Tipologia }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Pais</mat-label>
                      <mat-select formControlName="Pais_idPais">
                        <mat-option *ngFor="let p of pais" [value]="p?.idPais">
                          {{ p?.Pais }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="Departamento_idDepartamento">
                        <mat-option *ngFor="let d of departamento" [value]="d?.idDepartamento">
                          {{ d?.Departamento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Ciudad</mat-label>
                      <mat-select formControlName="Ciudad_idCiudad">
                        <mat-option *ngFor="let city of ciudad" [value]="city?.idCiudad">
                          {{ city?.Ciudad }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>


          <div class="col-sm-12" *ngIf="contacto">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Persona que sera el contacto directo con la empresa</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  <form class="example-form" novalidate (ngSubmit)="onSubmitContacto()" [formGroup]="contactos">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="TipoDocumento_idTipoDocumento">
                        <mat-option *ngFor="let tiposDocumento of tiposDocumentos"
                          [value]="tiposDocumento?.idTipoDocumento">
                          {{ tiposDocumento?.TipoDocumento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" formControlName="IdContacto">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombres" formControlName="Nombre">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" formControlName="Apellido">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Correo" formControlName="Email">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Cargo</mat-label>
                      <mat-select formControlName="Cargo_idCargo">
                        <mat-option *ngFor="let cargo of cargos" [value]="cargo?.idCargo">
                          {{ cargo?.Cargo }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>



          <div class="col-sm-12" *ngIf="firmante">
            <mat-card class="mt-3">
              <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <h2>Datos de la persona que firmara el contrato</h2>
                </div>
                <div class="col-sm-6 offset-sm-3">
                  firmanteForm
                  <form class="example-form" novalidate (ngSubmit)="onSubmitFirmante()" [formGroup]="firmanteForm">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="TipoDocumento_idTipoDocumento">
                        <mat-option *ngFor="let tiposDocumento of tiposDocumentos"
                          [value]="tiposDocumento?.idTipoDocumento">
                          {{ tiposDocumento?.TipoDocumento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" 
                        formControlName="Documento">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombres " type="text" formControlName="Nombre">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" type="text" formControlName="Apellidos">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Firma" type="text" formControlName="FirmaContrato">
                    </mat-form-field>


                    <!-- <mat-form-field class="example-full-width">
                      <mat-label>Tipo de perfil que desea crear</mat-label>
                      <mat-select formControlName="Empresa_nitEmpresa">
                        <mat-option value="1">
                          Perfil Contratante
                        </mat-option>
                        <mat-option value="2">
                          Perfil Contratado
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                    <div class="col-sm-12">
                      <input type="submit" value="Todo listo" class="btn btn-success btn-lg">
                    </div>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
