<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
      <mat-card>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-2">
              <h3>¿Cómo quieres iniciar sesión?</h3>
            </div>
            <div class="col-sm-12 col-lg-6">
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Correo">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Contraseña">
                </mat-form-field>
              </form>                  
            </div>
            <div class="col-sm-12 col-lg-6">
              <div class="row">
                <div class="col-sm-12 ">
                  <button mat-flat-button color="primary" class="btn-lg" >Iniciar sesión con Facebook</button>
                </div>
                <div class="col-sm-12 mt-2">
                  <button mat-flat-button color="primary" class="btn-lg" >Iniciar sesión con Twitter</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
