<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contratos a tu mano</h2>
            <hr>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-4 mt-5">
            <p>ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 mt-5">
            <form class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="registro">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo de documento</mat-label>
                    <mat-select formControlName="TipoDocumento_idTipoDocumento">
                        <mat-option value="1">
                            Cedula de ciudadania
                        </mat-option>
                        <mat-option value="2">
                            Cedula de extranjeria
                        </mat-option>
                        <mat-option value="3">
                            Pasaporte
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Numero de documento" type="number" formControlName="idUsers">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre completo" type="text" formControlName="Name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Numero Celular" type="number" formControlName="Celular">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="Email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" type="password" formControlName="Password">
                </mat-form-field>
                <div class="col-sm-6 offset-sm-5 mt-3">
                    <button mat-flat-button type="submit" color="primary" >Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 bg-grado d-flex flex-column mt-5 " id="sticky-footer" >
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h5>Contratos a tu mano</h5>
            <h6>Software desarrollado por </h6>
        </div>
    </div>
</div>